body{
    background-color: rgb(34, 33, 33);
    color: rgb(200, 173, 0);
    font-family: monospace;
    font-size: large;
}
h1{
    color: rgb(1, 182, 238);
    font-style: italic;
    font-family: cursive;
    text-align: center;
}
h3{
    color: rgb(200, 173, 0);
}
#about{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(1, 182, 238);
}
#subs{
    text-align: center;
}
#sub{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: rgb(200, 173, 0);
}
#subs:hover{
    text-decoration: underline ;
}
#courselist{
    color: rgb(1, 182, 238);
}
#me{
    padding-left: 3.6%;
    padding-right: 3.6%;
    color: rgb(1, 182, 238);
}
#tag{
    color: rgb(200, 173, 0);
}
#course{
    margin: auto;
    width: 33%;
    padding: 10px;
}
#tt{
    color: rgb(200, 173, 0);
}
#fav{
    margin: auto;
    width: 20%;
    padding: 10px;
}
#col1{
    flex: left;
    padding: 0 0 0 25%;
}
#col2{
    flex: left;
    padding: 0 0 0 55%;
}
#happy,#sad{
    width: 250px;
    height: 250px;
    float: left;
    display: block;
}
.titles{
    padding-left: 30%;
    word-spacing: 19em;
}
#covid{
    height: 180;
    width: 230;
    float: left;
}
#fact{
    text-align: center;
}
#txtcovid{
    text-align: justify;
    color: rgb(1, 182, 238);
}
#contact{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
#cont{
    color: rgb(200, 173, 0);
}

/* CONTACT STYLE */
th{
    color: rgb(1, 182, 238);
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}
td{
    text-align: center;
    padding: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
    font-size: 3ex;
}
h2{
    text-align: center;
}

/* FORM STYLE*/
form{
    margin: auto;
    width: 30%;
}
legend{
    font-weight: bolder;
    font-size: larger;
    font-family: cursive;
}
fieldset{
    padding: 4ex;
}
input,textarea{
    background-color: rgb(34, 33, 33);
    border-color: rgb(1, 182, 238);
    color: rgb(1, 182, 238)
}
#submit{
    background-color: gb(34, 33, 33);
    color: rgb(1, 182, 238);
    font-weight: bolder;
}
#gen,#pl{
    color: rgb(1, 182, 238);
}
#peop{
    background-color: rgb(34, 33, 33);
    color: rgb(1, 182, 238);
    border-color: rgb(1, 182, 238);
}